* {
    margin: 0;
    padding: 0;
  }
  
  .main-container {
    background-image: url("https://images.pexels.com/photos/192136/pexels-photo-192136.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  
  .card-container-detail {
    
    box-shadow: 8px 8px 14px rgb(72, 160, 74);
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: solid 1px green;
    border-radius: 0.8rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
                0 2px 4px -1px rgba(0, 0, 0, 0.06);
  }
  
  .img-detail-container {
    width: 450px;
    border-radius: 0.8rem;
    overflow: hidden;
    margin-left: 0.5rem;
  }
  
  .img-detail-container img {
    width: 100%;
    height: auto;
  }
  
  .data-breed-detail {
    font-family: sans-serif;
    font-size: 18px;
    padding: 2rem;
  }
  
  .data-breed-name{
    margin-bottom: 0.3rem;
    background-color: rgba(255, 255, 255, 0.5);
  }
  
  .data-breed-data{
    display: flex;
    justify-content: left;
    margin-bottom: 0.5rem;
    width: 100%;
    border-bottom: green solid 1px;
  }
  