
.home-main-container{
    background-image: url("https://images.pexels.com/photos/192136/pexels-photo-192136.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    max-width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .label-style {
    color: white;
    font-weight: 900;
    font-family: 'Trebuchet MS'; 
  }

  .input-style {
    align-items: center;
    text-indent: 0.5rem;
    border-radius: 0.2rem;
    height: 2rem;
  }

  .select-option:hover{
    border-color:azure;
  }
  
  .reset-btn:hover {
    background-color: rgba(255, 255, 255, 0.8);
    transform: scale(1.1, 1.1);
  }