
.cards{
    display: flex;
    flex-wrap: wrap;
  }


.fondo-home {
    background-image: url("https://images.pexels.com/photos/66869/green-leaf-natural-wallpaper-royalty-free-66869.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    display: flex;
    height: 1440px;
    width: 1290px;
    margin: 0px;
} 

.div-container-home {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: row-reverse;
}