
  
  
.boton-paginador {
    border: 2px solid;
    border: white;
    background-color: #19100f;
    color: white;
    font-size: 15px;
}

.boton-paginador:active {
    background-color: gray;
    color: white;
}

.boton-paginador:hover:not(.active) {
    background-color: rgb(139, 136, 136);
}

.div-paginador {
    display: flex;
    justify-content: center;
    padding: 40px;
}