.welcome-text {
    color: rgb(121, 119, 115);
    border-radius: 30px;
    background-blend-mode: multiply;
    text-shadow: 5px 5px 5px #4b5320;
    
  }
  
  .welcome-container{
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 30px;
    padding: 20px;
    margin: 20px;
    position: bottom;
  }
  
  .main-container {
  
    /* background-image: url("https://th.bing.com/th/id/R.d013805907b095bf2f4aeb43e1baddc2?rik=vI6ylgy538EPLw&riu=http%3a%2f%2forig06.deviantart.net%2f5052%2ff%2f2012%2f277%2f0%2f9%2fdoberman_puppy_by_doberman4life-d5gr7tx.jpg&ehk=YD8ddqpRBnx6RQUO1HYuqIz%2fxj5egecM3%2bR3pt6Ir%2bs%3d&risl=&pid=ImgRaw&r=0"); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;
  
    margin: 0;
    padding: 0;
  
    height: 100vh;
  }
  
  .welcome-title {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1rem;
    pointer-events: none;
  }
  
  .enter-btn{
    background-color: #4b5320;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
  }
  
  .enter-btn:hover {
    background-color: #87a96b;
    color: whitesmoke;
  }